*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #08142c 30%, #891024) ;
    width: 100%;
    height: 100vh;
}

.title>h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 30px;
    font-size: 48px;
    font-weight: bold;
    color: #ec2929;
}

.container{
    width: min(600px, 80vw);
    height: min(600px, 80vw);
    margin: 0 auto;
    padding: 30px;
    background-color: transparent;
    text-align: center;
}


.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn{
    background-color: #08142c;
    color: #ec2929;
    padding: 10px 20px;
    border: none;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: #ec2929;
    color: #08142c;
    border-color: #fff;
    box-shadow: 1px 1px 10px 0 #fff ;
}

#input-color{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 1px;
    padding: 0;
}
input[type="color"]{
    background-color: inherit;
}

.sketch-pad{
    margin: 20px 0;
    display: grid;
    gap: 1px;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    grid-template-columns: repeat(2, 1fr);
    border: 10px solid #5d81ca;
    padding: 2px;
}

#slider{
    --webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 200px;
}
/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #5d81ca;
    height: 10px;
    border: none;
    border-radius: 5px;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: #5d81ca;
    height: 10px;
  }

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px; /* Centers thumb on the track */
    background-color: #f35c5c;
    height:20px ;
    width: 20px; 
    border: 1px solid #efefef;
    border-radius: 50%;   
 }

 .slider-container > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #5d81ca;
    margin: 10px;
    padding: 10px;
 }